@{
	ViewData["Title"] = "Index";
}

<h1>Sucursal</h1>

<fieldset class="border p-3">
    <legend class="h5">Buscar Sucursales</legend>
    <label >Rellene al menos 1 campo:</label><br>
    <form id="frmSucursal" method="post" class="row g-3">
        <div class="col-md-4">
            <label for="nombre" class="form-label">Id</label>
            <input type="text" class="form-control" name="idSucursal" id="idSucursal" placeholder="Ingresar Id" readonly>
        </div>
        <div class="col-md-4">
            <label for="direccion" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Ingresar Sucursal">
        </div>
        <div class="col-md-4">
            <label for="personacontacto" class="form-label">Dirección</label>
            <input type="text" class="form-control" name="direccion" id="direccion" placeholder="Ingresar la direccion">
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-danger" onclick="BuscarSucursal()">Buscar</button>
            <button type="button" class="btn btn-primary" onclick="LimpiarSucursal()">Limpiar</button>
            <button type="button" class="btn btn-primary" onclick="GuardarSucursal()">Guardar</button>

        </div>
    </form>
</fieldset>
<h2> Lista de las Sucursales Disponibles</h2>
<div id="divTabla"></div>

<script src="~/js/generic.js"></script>
<script src="~/js/sucursal.js"></script>
