<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MiPrimeraAPPAspNetCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MiPrimeraAPPAspNetCore.styles.css" asp-append-version="true" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/css/menuverticalstyle.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="wrapper">
        <!-- Menú Lateral -->
        <nav id="menu" class="show">
            <ul>
                <li class="nav-item">
                    <a class="fa fa-home" asp-area="" asp-controller="Home" asp-action="Index"> Home</a>
                </li>
                <li class="nav-item">
                    <a class="fa fa-map-marker" asp-area="" asp-controller="Laboratorio" asp-action="Index"> Labotarorio </a>
                </li>
                <li class="nav-item">
                    <a class="fa fa-heartbeat" asp-area="" asp-controller="Medicamento" asp-action="Index"> Medicamentos </a>
                </li>
                <li class="nav-item">
                    <a class="fa fa-medkit" asp-area="" asp-controller="TipoMedicamento" asp-action="Index"> Tipo Medicamento</a>
                </li>
                <li class="nav-item">
                    <a class="fa fa-building" asp-area="" asp-controller="Sucursal" asp-action="Index"> Sucursales </a>
                </li>

            </ul>
            <a id="showmenu">
                <i class="fa fa-align-justify"></i>
            </a>
        </nav>

        <!-- Contenido Principal -->
        <div class="container-content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>

            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2025 - MiPrimeraAPPAspNetCore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(document).ready(function(){
            $("#showmenu").click(function(){
                $("#menu").toggleClass("menu-hidden");
                $(".container-content").toggleClass("container-expanded");
            });

            $("#menu a").click(function(event){
                if($(this).next('ul').length){
                    event.preventDefault();
                    $(this).next().toggle('fast');
                    $(this).children('i:last-child').toggleClass('fa-caret-down fa-caret-left');
                }
            });
        });
    </script>
</body>
</html>
